@import url("https://fonts.googleapis.com/css2?family=Cormorant+Garamond:ital,wght@0,300..700;1,300..700&display=swap");
@import "tailwindcss";
@plugin "@tailwindcss/typography";
@import "tw-animate-css";

@custom-variant dark (&:is(.dark *));

@font-face {
  font-family: Clash Display;
  font-style: normal;
  font-weight: 300 700;
  font-display: swap;
  src: url("../fonts/ClashDisplay-Variable.woff2") format("woff2");
}

@theme {
  /* --font-cormorant-garamond: "Cormorant Garamond", serif; */
  --font-clash-display: "Clash Display", "sans-serif";
  /* --color-lavender: #ECE4FF; */
  /* --color-beige: #F6F5F1; */

  --color-primary-dark: #313647;
  --color-secondary-dark: #212430;
  --color-main-text-dark: #DCE3EB;
  --color-cta: #E7C6C2;
  --color-hover: #C7C9E9;

  --color-myblack: #212121;
}

 html {
    scroll-behavior: smooth;
  }

.highlight {
  font-weight: 600;
  background: linear-gradient(
      104deg,
      rgba(229, 191, 211, 0) 0.9%,
      rgba(229, 191, 211, 0.8) 2.4%,
      rgba(229, 191, 211, 0.5) 5.8%,
      rgba(229, 191, 211, 0.2) 93%,
      rgba(229, 191, 211, 0.7) 96%,
      rgba(229, 191, 211, 0) 98%
    ),
    linear-gradient(
      183deg,
      rgba(229, 191, 211, 0) 0%,
      rgba(229, 191, 211, 0.3) 7.9%,
      rgba(229, 191, 211, 0) 35%
    );
  padding: 0.15em 0.35em;
  box-decoration-break: clone;
  -webkit-box-decoration-break: clone;
  border-radius: 6px;
  transition: background 0.3s ease;
}


.flower {
  cursor: pointer;
  width: 80px; 
  aspect-ratio: 1;
  --g:/calc(37.019% + 2.548px) calc(37.019% + 2.548px) radial-gradient(#0000 calc(70% - 5px),#000 calc(71% - 5px) 70%,#0000 71%) no-repeat;
  mask: radial-gradient(100% 100%,#0000 calc((37.019% + 2.548px)/1.454 - 3.441px),#000 calc((37.019% + 2.548px)/1.454 - 3.441px + 1px)) intersect,100% 50% var(--g),65.451% 97.553% var(--g),9.549% 79.389% var(--g),9.549% 20.611% var(--g),65.451% 2.447% var(--g);
}