@import url("https://fonts.googleapis.com/css2?family=Cormorant+Garamond:ital,wght@0,300..700;1,300..700&display=swap");
@import "tailwindcss";

@font-face {
  font-family: Clash Display;
  font-style: normal;
  font-weight: 300 700;
  font-display: swap;
  src: url("./fonts/ClashDisplay-Variable.woff2") format("woff2");
}

@theme {
  --font-cormorant-garamond: "Cormorant Garamond", serif;
  --font-clash-display: "Clash Display", "sans-serif";
}